.Services h2 {
  text-align: center;
  margin-bottom: 1em;
}

.Services .cardlist {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 1em;
  --columns: 6;
}

.Services .cardlist .card {
  --width: 6;
  --initialBasis: calc(var(--width, 0) / var(--columns, 6) * 100%);
  --gap: calc((var(--columns, 6) - var(--width, 0)) * 1.33%);
  flex-basis: calc(var(--initialBasis) - var(--gap));
  color: #fff;
  margin-bottom: 1em;
}

.Services .cardlist .card figure {
  display: flex;
  position: relative;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Services .cardlist .card figure div {
  width: 100%;
  height: 100%;
  background-color: rgba(var(--blackv-primary-color), 0);
  transition: ease-in 0.5s;
}

.Services .cardlist .card:hover figure div {
  background-color: rgba(var(--blackv-primary-color), 0.25);
}

.Services .cardlist .card > div {
  padding: 1em;
  background-color: rgb(var(--blackv-primary-color));
}

.Services .card h3 {
  letter-spacing: 1px;
  line-height: 1.5;
}

.Services .card hgroup h5:first-of-type {
  font-weight: normal;
  margin: 1em 0;
  padding-bottom: 1em;
}

.Services .card hgroup hr {
  color: #fff;
  margin-bottom: 1em;
}

.Services .card button {
  font-size: 1rem;
  margin-top: 1em;
  padding: 0.6em 1.5em;
  border: none;
  background-color: #fff;
  transition: ease 0.5s;
}

.Services .card:hover button {
  color: #fff;
  background-color: rgb(var(--blackv-secondary-color));
}

@media (min-width: 37.5em) {
  .Services {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .Services .cardlist .card {
    position: relative;
    --width: 3;
    margin-bottom: 2em;
  }

  .Services .cardlist .card > div {
    height: 260px;
  }

  .Services .cardlist .card figure {
    height: 290px;
  }

  .Services .card button {
    position: absolute;
    bottom: 1em;
  }
}

@media (min-width: 50em) {
  .Services .cardlist .card {
    --width: 2.2;
  }
}
