.App-footer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  color: #fff;
  background-color: rgb(var(--blackv-primary-color));
  padding: 2em 1em 0;
  --column: 4;
}

.App-footer div {
  --width: 4;
  --initialBasis: calc(var(--width, 0) / var(--columns, 4) * 100%);
  --gap: calc((var(--columns, 4) - var(--width, 0)) * 1.33%);
  flex-basis: calc(var(--initialBasis) - var(--gap));
  margin-bottom: 3em;
}

.App-footer div p {
  color: #8a8a8a;
  line-height: 1.7rem;
}

.App-footer div:first-of-type ul {
  display: flex;
  height: auto;
  margin: 2em 0;
}

.App-footer div:first-of-type ul li {
  width: auto;
}

.App-footer div:first-of-type ul li a {
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: 0.8em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  line-height: normal;
}

.App-footer div:first-of-type ul li svg {
  width: 20px;
  height: 20px;
  margin: auto;
}

.App-footer div h4 {
  margin-bottom: 2.4em;
}

.App-footer div ul li {
  width: 100%;
}

.App-footer div ul li a {
  display: flex;
  color: #8a8a8a;
  margin-bottom: 1em;
  line-height: 1.3rem;
}

.App-footer div ul li a svg {
  width: 14px;
  height: 14px;
  margin: auto 0;
  margin-right: 0.3em;
}

.App-footer div:last-of-type ul li {
  width: 100%;
  line-height: 1.4rem;
}

.App-footer > div.copyright {
  --width: 4;
  margin: 0;
}

.App-footer .copyright p {
  color: #fff;
  background-color: rgb(var(--blackv-secondary-color));
  height: 60px;
  margin-top: 2em;
  padding: 1em;
}

@media (min-width: 37.5em) {
  .App-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5em 3em 0;
    --columns: 4;
  }

  .App-footer div {
    --width: 1;
    min-width: 280px;
  }

  .App-footer .copyright p {
    position: relative;
    width: 50%;
    height: 90px;
    margin-left: -3em;
    padding: 1.5em 3em;
  }

  .App-footer .copyright p::before {
    position: absolute;
    top: 0;
    right: 100px;
    content: "";
    width: 100px;
    height: 100%;
    background: rgb(var(--blackv-secondary-color));
    -webkit-transform: matrix(1, 0, 0.9, 1, 150, 0);
    -ms-transform: matrix(1, 0, 0.9, 1, 150, 0);
    transform: matrix(1, 0, 0.9, 1, 150, 0);
  }
}

@media (min-width: 50em) {
  .App-footer {
    max-width: 1920px;
  }
  .App-footer div {
    width: 24.5%;
    padding: 4em 2em 0;
  }
}
